<div class="card-list">
  
  <div class="img-wrapper" (click)="abrirLightbox($event)">
    @if (item.unidadesPorCaja) {
      <div class="box-badge">
        <span class="box-icon"></span> {{ item.unidadesPorCaja }}
      </div>
    }
    @if (item.images && item.images.length > 0) {
      <img [src]="item.images[0].small || item.images[0].url" 
           [alt]="item.descripcion" 
           class="thumb zoomable">
    }
  </div>

  <div class="info-wrapper">
    <span class="brand">{{ item.marcaId }}</span>
    <div class="header-row">
      @if (item.esNovedad) { <span class="badge badge-new">NUEVO</span> }
      @if (item.tienePromo) { <span class="badge badge-promo">OFERTA</span> }
    </div>
    <h3 class="title text-clamp-2">{{ item.descripcion }}</h3>
    @if (item.sabor) { <p class="flavor text-ellipsis">{{ item.sabor }}</p> }
  </div>

  <div class="action-wrapper">
    <div class="prices">
      @if (item.tienePromo) {
        <span class="price-old">{{ item.precioNormal | currency }}</span>
      }
      <span class="price-final">{{ item.precioFinal | currency }}</span>
    </div>

    <div class="controls">
      @if (cantidadEnCarrito() === 0) {
        <button class="btn-primary btn-add-mini" (click)="agregarAlCarrito($event)">
          +
        </button>
      } @else {
        <div class="qty-selector qty-mini" (click)="$event.stopPropagation()">
          <button (click)="restar($event)">−</button>
          <span>{{ cantidadEnCarrito() }}</span>
          <button (click)="agregarAlCarrito($event)">+</button>
        </div>
      }
    </div>
  </div>

</div>
